/*****************************************************
** MAIN CSS FILE
*****************************************************/
/* line 4, ../scss/main.scss */
body {
  padding: 30px 50px 50px;
}

/* line 5, ../scss/main.scss */
.debugHeader {
  background: #222;
  color: #33ff00;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/* line 6, ../scss/main.scss */
hr {
  border: none;
  background: #666;
  height: 1px;
}

/*****************************************************
** flowj
*****************************************************/
/* line 11, ../scss/main.scss */
.flow, .flowNav, .pagination {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 20, ../scss/main.scss */
.flow {
  max-width: 1200px;
  min-width: 340px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background: red;
}
/* line 21, ../scss/main.scss */
.flow .viewarea {
  overflow: hidden;
}
/* line 22, ../scss/main.scss */
.flow .container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
/* line 23, ../scss/main.scss */
.flow .slide {
  position: absolute;
}
/* line 24, ../scss/main.scss */
.flow .slide .caption {
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: white;
}
/* line 25, ../scss/main.scss */
.flow .slide .caption p {
  padding: 20px;
}
/* line 28, ../scss/main.scss */
.flow img {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
}
/* line 29, ../scss/main.scss */
.flow .pagination {
  position: absolute;
  top: -30px;
  left: 50%;
  display: inline-block;
}
/* line 30, ../scss/main.scss */
.flow .pagination > span.active {
  background: red;
}
/* line 31, ../scss/main.scss */
.flow .pagination > span {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background: #ccc;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
}
/* line 32, ../scss/main.scss */
.flow .pagination .num {
  color: #fff;
  display: none;
}

/* line 36, ../scss/main.scss */
.flowNav {
  display: inline-block;
  background: #999;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 37, ../scss/main.scss */
.flowNav:hover {
  background: red;
}
/* line 38, ../scss/main.scss */
.flowNav a {
  text-decoration: none;
  color: #fff;
}
/* line 39, ../scss/main.scss */
.flowNav.prev {
  float: left;
}
/* line 40, ../scss/main.scss */
.flowNav.next {
  float: right;
}
